@import "./bootstrap/bootstrap.scss";

@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css';
@import '@vuepic/vue-datepicker/dist/main.css';
@import 'vue-multiselect/dist/vue-multiselect.css';


.bg-dark-light{
    background-color: $red-100;
}

.capitalize{
    text-transform: capitalize;
}
main {
    .dt-layout-full {
        overflow: auto;
        padding-bottom: 100px;
    }

    table{
       thead{
        th{
            background-color: $red-200 !important;
        }
       }
    }

}

.circle-box{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    box-shadow: 0px 0px 7px 4px rgba(32,227,136,0.87);
-webkit-box-shadow: 0px 0px 7px 4px rgba(32,227,136,0.87);
-moz-box-shadow: 0px 0px 7px 4px rgba(32,227,136,0.87);
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;

&.primary{
color: var(--bs-blue);
}
&.success{
color: var(--bs-success);
}
&.danger{
color: var(--bs-danger);
}
}

.invalid{
    .multiselect__tags{
        border-color: $danger !important;
    }
    .invalid-meessage{
        display: block !important;
        color: $danger !important;
    }
}